:root {
    --background:
    /* {{ '*/
    ' ~ (theme.background or 'white') ~ '
    /*' }} */
    ;
    --foreground:
    /* {{ '*/
    ' ~ (theme.foreground or 'black') ~ '
    /*' }} */
    ;
    --highlight:
    /* {{ '*/
    ' ~ (theme.highlight or '#770000') ~ '
    /*' }} */
    ;
}

html {
    font-family: sans-serif;
    background: var(--background);
    color: var(--foreground);
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto minmax(0, 1fr) auto;
    overflow: hidden;
}

body >span {
    height: 0;
    display: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: minmax(0, 1fr) auto auto;
    grid-template-areas:
        "title       artwork"
        "nowplaying  artwork"
        "player      artwork";
    background: color-mix(in srgb, var(--foreground) 5%, var(--background));
    border-bottom: solid color-mix(in srgb, var(--foreground) 25%, var(--background)) 1px;
    box-shadow: 0px 0px 5px color-mix(in srgb, var(--foreground) 25%, var(--transparent));
}

footer {
    grid-area: footer;
    position: relative;
    z-index: 100;
    font-size: small;
    font-style: italic;
    background: color-mix(in srgb, var(--foreground) 10%, var(--background));
    padding-top: 0.5ex;
    border-top: solid color-mix(in srgb, var(--foreground) 25%, var(--background)) 1px;
    box-shadow: 0px 0px 5px color-mix(in srgb, var(--background) 50%, var(--transparent));
}

footer a {
    font-weight: bold;
}

main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}

header #title {
    grid-area: title;
}

header #openfullsize {
    grid-area: artwork;
    background: transparent;
}
header img#coverart {
    height: 100%;
    max-width: 25vw;
    object-fit: contain;
}

header .player {
    grid-area: player;
    vertical-align: bottom;
    margin-bottom: 1ex;
}

a {
    text-decoration: none;
}

a[href] {
    color: var(--highlight);
}

.explicit .track .title::after{
    margin-left: 2px;
    content: "E";
    font-size: x-small;
    font-weight: bolder;
    background: #ccc;
    color: white;
    border-radius: 2px;
    padding: 2px;
    vertical-align: middle;
}

.track .title {
    margin-right: 1ex;
}

.track .artist {
    font-size: small;
    opacity: 75%;
}
.track .artist::before {
    content: '(';
}
.track .artist::after {
    content: ')';
}

time {
    font-size: small;
    font-style: italic;
    opacity: 50%;
}


button {
    margin: 0;
    padding: 0;
    border: 0;
}

.player {
    display: flex;
    align-items: center;
    column-gap: 1ex;
    padding-right: 1ex;
    height: 36px;
}

.player button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: solid var(--foreground) 1px;
    border-radius: 4px;
    background-color: white;
    color: black;
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.player button:hover {
    border: solid var(--highlight) 1px;
    background-color: color-mix(in srgb, var(--highlight) 10%, white);
}

audio {
    flex-grow: 1;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    height: 100%;
}

.track img {
    display: none;
}

input[type="checkbox"] { display: none; }
input[type="checkbox"] + figure { display: none; }
input[type="checkbox"]:checked + figure { display: block; }
figcaption {
    font-size: small;
    font-weight: bold;
}
figcaption::after {
    content: ':';
}

#nowplaying {
    grid-area: nowplaying;
    font-weight: lighter;
}
#nowplaying span {
    font-weight: bold;
}

#tracklist {
    width: 100%;
    border-collapse: collapse;
}

tr.file:hover {
    background: color-mix(in srgb, var(--highlight) 10%, transparent);
    background: linear-gradient(180deg,
        color-mix(in srgb, var(--highlight) 15%, transparent) 0%,
        color-mix(in srgb, var(--highlight) 10%, transparent) 25%,
        color-mix(in srgb, var(--highlight) 20%, transparent) 100%);
}

tr.track:not(:first-child) td {
    border-top: solid color-mix(in srgb, var(--foreground) 20%, var(--background)) 1px;
}
tr.track td {
    /*padding: 1ex 0 0.25ex 0;*/
    vertical-align: baseline;
    line-height: 125%;
}
tr.extinfo td {
    padding: 0;
}
.extinfo img {
    max-width: 100%;
    width: auto;
    height: auto;
}

#tracklist td {
    vertical-align: baseline;
}

#tracklist .now-playing {
    background: color-mix(in srgb, var(--highlight) 10%, transparent);
}

#tracklist .now-playing td {
    border-style: solid none;
    border-color: var(--highlight);
    border-width: 2px;
}

#tracklist td.idx {
    width: 2em;
    text-align: right;
    font-size: small;
    opacity: 50%;
    padding-left: 1ex;
}
#tracklist td.disclosure {
    text-align: center;
    vertical-align: text-top;
    width: 1em;
    margin: 0;
    padding: 0 1ex;
}
#tracklist td.disclosure button:hover {
    background: color-mix(in srgb, var(--highlight) 10%, transparent);
    border: solid color-mix(in srgb, var(--highlight) 15%, transparent) 1px;
}

#tracklist td.disclosure button {
    font-size: small;
    font-style: italic;
    background: transparent;
    margin: 0;
    width: 6em;
    border-radius: 1em;
    border: solid transparent 1px;
    vertical-align: middle;
    color: var(--foreground);
}

#tracklist label:hover button {
    color: var(--highlight);
}

#tracklist td.title {
    width: auto;
}

.untitled {
    opacity: 50%;
}

#tracklist td.duration {
    width: 4em;
    text-align: right;
    padding-right: 1em;
}

button#previous {
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><path d="M5.981,32.071c-0.509,-0.508 -0.78,-1.206 -0.747,-1.924c0.033,-0.718 0.366,-1.389 0.918,-1.849c4.771,-3.976 16.309,-13.591 22.562,-18.802c0.762,-0.635 1.823,-0.772 2.722,-0.351c0.899,0.421 1.473,1.324 1.473,2.316c0,9.94 0,30.92 0,41.364c0,1.034 -0.623,1.967 -1.579,2.363c-0.956,0.396 -2.056,0.177 -2.787,-0.554c-6.368,-6.368 -17.943,-17.944 -22.562,-22.563Z"/><path d="M30.071,32.071c-0.508,-0.508 -0.779,-1.206 -0.746,-1.924c0.032,-0.718 0.366,-1.389 0.918,-1.849c4.771,-3.976 16.309,-13.591 22.562,-18.802c0.762,-0.635 1.823,-0.772 2.722,-0.351c0.899,0.421 1.473,1.324 1.473,2.316c-0,9.94 -0,30.92 -0,41.364c0,1.034 -0.623,1.967 -1.579,2.363c-0.956,0.396 -2.056,0.177 -2.787,-0.554c-6.368,-6.368 -17.944,-17.944 -22.563,-22.563Z"/></g></svg>');
}

button#next {
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><path d="M59.019,32.071c0.509,-0.508 0.78,-1.206 0.747,-1.924c-0.033,-0.718 -0.366,-1.389 -0.918,-1.849c-4.771,-3.976 -16.309,-13.591 -22.562,-18.802c-0.762,-0.635 -1.823,-0.772 -2.722,-0.351c-0.899,0.421 -1.473,1.324 -1.473,2.316c-0,9.94 -0,30.92 -0,41.364c-0,1.034 0.623,1.967 1.579,2.363c0.956,0.396 2.056,0.177 2.787,-0.554c6.368,-6.368 17.943,-17.944 22.562,-22.563Z"/><path d="M34.929,32.071c0.508,-0.508 0.779,-1.206 0.746,-1.924c-0.032,-0.718 -0.366,-1.389 -0.918,-1.849c-4.771,-3.976 -16.309,-13.591 -22.562,-18.802c-0.762,-0.635 -1.823,-0.772 -2.722,-0.351c-0.899,0.421 -1.473,1.324 -1.473,2.316c0,9.94 0,30.92 0,41.364c-0,1.034 0.623,1.967 1.579,2.363c0.956,0.396 2.056,0.177 2.787,-0.554c6.368,-6.368 17.944,-17.944 22.563,-22.563Z"/></g></svg>');
}

dialog#fullsizeart {
    z-index: 150;
    max-width: 90vw;
    max-height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 1ex auto;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border: none;
}

#fullcover img {
    display: none;
}

#fullsizeart img,
button img {
    display: block;
    max-height: 90vh;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#compact:target ~ header #title,
#compact:target ~ header #coverart,
#compact:target ~ footer {
    display: none;
}

#noartwork:target ~ header #coverart {
    display: none;
}

#playeronly:target ~ header #title,
#playeronly:target ~ header #coverart,
#playeronly:target ~ footer,
#playeronly:target ~ main {
    display: none;
}

#playeronly:target ~ header {
    height: 100vh;
}

#albumart:target ~ header {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr) auto;
    grid-template-areas:
        "artwork"
        "title"
        "nowplaying"
        "player";
    height: 100vh;
}
#albumart:target ~ main {
    display: none;
}
#albumart:target ~ footer {
    display: none;
}
#albumart:target ~ header #openfullsize {
    display: none;
}
#albumart:target ~ header #fullcover {
    display: block;
    grid-area: artwork;
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
}
#albumart:target ~ header #fullcover img {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    object-fit: contain;
}

#notracklist:target ~ main {
    display: none;
}

@media screen and (max-width:530px) {
    header {
        grid-template-columns: minmax(0, 1fr) auto;
        grid-template-rows: minmax(0, 1fr) auto auto;
        grid-template-areas:
            "title artwork"
            "nowplaying artwork"
            "player player";
    }

    img#coverart {
        max-width: 33vw;
    }
}

@media screen and (max-height:350px) {
    footer {
        display: none;
    }
}

@media screen and (max-height:275px) {
    td.disclosure, tr.extinfo {
        display: none;
    }
}

@media screen and (max-height:25vw) {
    main {
        display: none;
    }
}