:root {
    --background:
    /* {{ '*/
    ' ~ (album.background or 'white') ~ '
    /*' }} */
    ;
    --foreground:
    /* {{ '*/
    ' ~ (album.foreground or 'black') ~ '
    /*' }} */
    ;
    --highlight:
    /* {{ '*/
    ' ~ (album.highlight or '#770000') ~ '
    /*' }} */
    ;
}

html {
    font-family: sans-serif;
    background: var(--background);
    color: var(--foreground);
}

h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-areas:
        "title artwork"
        "player artwork";
    background: #ccc;
}

header .title {
    grid-area: title;
    border: solid red 1px;
}

header img {
    grid-area: artwork;
    border: solid green 1px;
}

header .player {
    grid-area: player;
    border: solid blue 1px;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

a[href] {
    color: var(--highlight);
}

.explicit .title .name::after{
    margin-left: 2px;
    content: "E";
    font-size: x-small;
    font-weight: bolder;
    background: #ccc;
    color: white;
    border-radius: 2px;
    padding: 2px;
    vertical-align: middle;
}

.title .name {
    margin-right: 1ex;
}

.title time {
    font-size: small;
    font-style: italic;
    opacity: 50%;
}

audio {
    width: 100%;
}

ol {
}

label {
    color: transparent;
    padding: 0 1em;
}
li:hover label {
    color: inherit;
}

.track img {
    display: none;
}

input[type="checkbox"] { display: none; }
input[type="checkbox"] + div { display: none; }
input[type="checkbox"]:checked + div { display: block; }
